Repository SkillsFundingAgency/das-assessor-service, pull requests merged in 2018-08, with the labels that each got.

#371 Styling, copy and pagination for staff ui
  src/SFA.DAS.AssessorService.Web.Staff/Views/Home/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Results.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Select.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Shared/_Layout.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/assets/stylesheets/fonts/fontello.eot
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/assets/stylesheets/fonts/fontello.svg
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/assets/stylesheets/fonts/fontello.ttf
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/assets/stylesheets/fonts/fontello.woff
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/assets/stylesheets/fonts/fontello.woff2
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.css
Labels: Requires testing, Staff App

#344 ON-611 new schema ao and tables added for assessment organsiations im…
  src/SFA.DAS.AssessorService.Database/SFA.DAS.AssessorService.Database.sqlproj
  src/SFA.DAS.AssessorService.Database/Tables/Contacts.sql
  src/SFA.DAS.AssessorService.Database/Tables/DeliveryArea.sql
  src/SFA.DAS.AssessorService.Database/Tables/OrganisationStandard.sql
  src/SFA.DAS.AssessorService.Database/Tables/OrganisationStandardDeliveryArea.sql
  src/SFA.DAS.AssessorService.Database/Tables/OrganisationType.sql
  src/SFA.DAS.AssessorService.Database/Tables/Organisations.sql
Labels: Register

#360 On 674 reprint certificate
  src/SFA.DAS.AssessorService.Api.Types/Models/CertificateReprintRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/CertificateReprintResponse.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/ScheduleController.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/Staff/StaffReprintController.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/CertificateReprintHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/StaffSearchHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/StartCertificateHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IScheduleRepository.cs
  src/SFA.DAS.AssessorService.Data/ScheduleRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/DuplicateRequestController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/DuplicateRequest/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Select.cshtml
  src/SFA.DAS.AssessorService.Web/wwwroot/css/site.min.css
Labels: Staff App, Tested

#382 ON 797 Added level to History search
  src/SFA.DAS.AssessorService.Api.Types/Models/Certificates/CertificateHistoryResponse.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Certificates/GetCertificatesHistoryHandler.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Results.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Select.cshtml
  src/SFA.DAS.AssessorService.Web/Resources/Views/CertificateHistory/Index.en.resx
  src/SFA.DAS.AssessorService.Web/Views/CertificateHistory/Index.cshtml
Labels: Requires testing

#389 On 791 auth attributes on controllers
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/DashboardController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/DuplicateRequestController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/SearchController.cs
Labels: Staff App

#362 On 682 api get all organisation types
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/OrganisationType.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/GetOrganisationTypesRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Query/GetOrganisationTypesTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterQueryController.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQueryGetOrganisationTypesTest.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/SFA.DAS.AssessorService.Application.UnitTests.csproj
  src/SFA.DAS.AssessorService.Application/Handlers/ao/GetOrganisationTypesHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Application/SFA.DAS.AssessorService.Application.csproj
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Handlers/OrganisationTypeHandler.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Models/OrganisationTypeModel.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/OrganisationTypesTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Services/DatabaseService.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Services/TestWebConfiguration.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
Labels: Register

#391 ON_821_Staff_UI_View_audit_history
  src/SFA.DAS.AssessorService.Application.Api/Controllers/Staff/LearnerDetailsController.cs
  src/SFA.DAS.AssessorService.Application.Api/StartupConfiguration/Startup.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Search/SearchResultExtensions.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/CertificateReprintHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/LearnerDetailHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/LearnerDetailRequest.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/StaffSearchHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IStaffCertificateRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IStaffIlrRepository.cs
  src/SFA.DAS.AssessorService.Data/Staff/StaffCertificateRepository.cs
  src/SFA.DAS.AssessorService.Data/Staff/StaffIlrRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/AccountController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/SearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/DuplicateRequest/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Home/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Results.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Select.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/_SelectScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.css
Labels: Staff App, Tested

#363 On 764 api get all delivery areas
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/DeliveryArea.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/GetDeliveryAreasRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Query/GetDeliveryAreasTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterQueryController.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQueryGetDeliveryAreasTests.cs
  src/SFA.DAS.AssessorService.Application/Handlers/ao/GetDeliveryTypesHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/DeliveryAreasTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Handlers/DeliveryAreaHandler.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Models/DeliveryAreaModel.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/OrganisationTypesTests.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
Labels: Register, Requires testing

#398 On 821 stui view audit history
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Select.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/_SelectScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/bundleconfig.json
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.css
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.min.css
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/js/site.min.js
Labels: Requires testing, Staff App

#400 On 844 epao search paging bug
  .gitignore
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/StaffSearchHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IStaffIlrRepository.cs
  src/SFA.DAS.AssessorService.Data/Staff/StaffIlrRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.css
Labels: Requires testing, Staff App

#364 On 766 api get all organisations
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/AssessmentOrganisationSummary.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/GetAssessmentOrganisationsRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Query/GetOrganisationsTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterQueryController.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQueryGetOrganisationsTests.cs
  src/SFA.DAS.AssessorService.Application/Handlers/ao/GetAssessmentOrganisationsHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/GetAssessmentOrganisationsTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Handlers/OrganisationHandler.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Services/DatabaseService.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
Labels: Register, Tested

#403 A double check that the cert doesn't already exist before creating it
  src/SFA.DAS.AssessorService.Data/CertificateRepository.cs
Labels: EPAO App, Hot Fix

#408 Added dashboard and redirect from logon to dash
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/AccountController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/DashboardController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Dashboard/Index.cshtml
Labels: Staff App
