Repository SkillsFundingAgency/das-assessor-service, pull requests merged in 2018-11, with the labels that each got.

#470 ON-1017 - Retrieve Organisation Type as part of EPAO Register search
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/AssessmentOrganisationSummary.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
Labels: Register

#473 On 1030 add organisation standard front end
  src/SFA.DAS.AssessorService.Api.Types/Models/ContactResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/CreateEpaOrganisationStandardValidationRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/OrganisationsApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Validators/Register/OrganisationStandards/EpaOrganisationStandardsValidatorEffectiveFromFallsBeforeEffectivetoTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Validators/Register/OrganisationStandards/EpaOrganisationStandardsValidatorEffectiveFromTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Validators/Register/OrganisationStandards/EpaOrganisationStandardsValidatorEffectiveToTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Consts/EpaOrganisationValidatorMessageName.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/ContactQueryController.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterQueryController.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterValidationController.cs
  src/SFA.DAS.AssessorService.Application.Api/Resources/Validators/EpaOrganisationValidator.en.resx
  src/SFA.DAS.AssessorService.Application.Api/SFA.DAS.AssessorService.Application.Api.csproj
  src/SFA.DAS.AssessorService.Application.Api/Validators/EpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationStandardValidationHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IContactQueryRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Data/ContactQueryRepository.cs
  src/SFA.DAS.AssessorService.Domain/Entities/Contact.cs
  src/SFA.DAS.AssessorService.Domain/Extensions/DateTimeUtils.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Helpers/RegisterValidationCheckDateEntryValidTests.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Helpers/IRegisterValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Helpers/RegisterValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterAddOrganisationStandardViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterViewAndEditOrganisationStandardViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterAddOrganisationStandardViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/AddContact.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/AddOrganisation.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/AddOrganisationStandard.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/EditOrganisation.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/SearchStandards.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/SearchStandardsResults.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/ViewContact.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/ViewOrganisation.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/viewStandard.cshtml
Labels: Register, Tested

#482 ON-1086b fix to deal with duplicates
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
Labels: Tested

#481 On 1052 make organisation live
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/UpdateEpaOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/UpdateEpaOrganisationValidationRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/OrganisationsApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api/Consts/EpaOrganisationValidatorMessageName.cs
  src/SFA.DAS.AssessorService.Application.Api/Resources/Validators/EpaOrganisationValidator.en.resx
  src/SFA.DAS.AssessorService.Application.Api/Validators/EpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterCreateOrganisationHandlerTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterUpdateOrganisationHandlerTests.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/UpdateEpaOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/UpdateEpaOrganisationValidationHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Data/RegisterRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterViewAndEditOrganisationViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterEditOrganisationStandardViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterUpdateOrganisationViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/SearchStandardsViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/EditOrganisation.cshtml
Labels: Register, Tested

#485 Update dashboard with register link
  src/SFA.DAS.AssessorService.Web.Staff/Views/Dashboard/Index.cshtml
Labels: Tested

#490 ON-1085 - Fix for retrieving certificate details if submitted in Staff App and EPAO is rightful owner
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Search/When_certificate_already_submitted_for_learner_by_different_epaOrg.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Search/When_certificate_already_submitted_for_learner_by_same_epaOrg.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Search/SearchResultExtensions.cs
  src/SFA.DAS.AssessorService.Data/CertificateRepository.cs
Labels: Hot Fix, Requires testing, Staff App, Tested

#483 On 1089 fix assessment orgs import
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/EpaOrganisationStandard.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/OrganisationStandardData.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/OrganisationStandardSummary.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IAssessmentOrgsSpreadsheetReader.cs
  src/SFA.DAS.AssessorService.Data/AssessmentOrgsImporter.cs
  src/SFA.DAS.AssessorService.Data/AssessmentOrgsRepository.cs
  src/SFA.DAS.AssessorService.Data/AssessmentOrgsSpreadsheetReader.cs
  src/SFA.DAS.AssessorService.Data/DapperTypeHandlers/OrganisationStandardDataHandler.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterRepository.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/EpaOrganisation.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/EpaOrganisationStandard.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/OrganisationStandardData.cs
Labels: Tested

#492 On 1026 disallow duplicate contacts
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/OrganisationStandard.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/CreateEpaOrganisationStandardRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/UpdateEpaOrganisationContactValidationRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/UpdateEpaOrganisationStandardRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/OrganisationsApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api/Consts/EpaOrganisationValidatorMessageName.cs
  src/SFA.DAS.AssessorService.Application.Api/Resources/Validators/EpaOrganisationValidator.en.resx
  src/SFA.DAS.AssessorService.Application.Api/Validators/EpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationStandardHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/UpdateEpaOrganisationContactValidationHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/UpdateEpaOrganisationStandardHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterValidationRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterValidationRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterAddContactViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterAddOrganisationStandardViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterViewAndEditContactViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterViewAndEditOrganisationStandardViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterUpdateContactViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/AddContact.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/AddOrganisationStandard.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/EditContact.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/EditOrganisationStandard.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/viewStandard.cshtml
Labels: Tested

#498 On 792 create register spreadsheet
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/ReportDetails.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/ReportType.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/WorksheetDetails.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/Staff/StaffReportsController.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/StandardController.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Standards/GatherStandardsHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IStaffReportRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IStandardRepository.cs
  src/SFA.DAS.AssessorService.Data/Staff/StaffReportRepository.cs
  src/SFA.DAS.AssessorService.Data/StandardRepository.cs
  src/SFA.DAS.AssessorService.Database/SFA.DAS.AssessorService.Database.refactorlog
  src/SFA.DAS.AssessorService.Database/SFA.DAS.AssessorService.Database.sqlproj
  src/SFA.DAS.AssessorService.Database/Script.PostDeployment1.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/EPAO_Register_Data_Definitions.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/EPAO_Register_register_delivery_areas.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/EPAO_Register_register_organisation.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/EPAO_Register_register_standards.sql
  src/SFA.DAS.AssessorService.Database/Tables/StaffReports.sql
  src/SFA.DAS.AssessorService.Domain/Entities/StaffReport.cs
  src/SFA.DAS.AssessorService.Domain/JsonData/ReportDownloadData.cs
  src/SFA.DAS.AssessorService.Domain/JsonData/WorksheetDetails.cs
  src/SFA.DAS.AssessorService.ExternalApis/Services/StandardService.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/ReportsController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Reports/Index.cshtml
Labels: Tested

#513 On 1171 create downloadable xls for register list of standards
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/ReportDetails.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Database/SFA.DAS.AssessorService.Database.sqlproj
  src/SFA.DAS.AssessorService.Database/Script.PostDeployment1.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/EPAO_Register_list_of_organisations.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/EPAO_Register_list_of_standards.sql
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/ReportsController.cs
Labels: Register, Tested

#511 On 1159 remove link to assessment orgs update page
  src/SFA.DAS.AssessorService.Data/AssessmentOrgsImporter.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/RegisterController.cs
Labels: Register, Tested
