Repository SkillsFundingAgency/das-assessor-service, pull requests merged in 2018-09, with the labels that each got.

#407 On 802 new options
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/CertificateApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/ICertificateApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/CertificateQueryController.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Certificates/GetOptionsHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Certificates/GetOptionsRequest.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Search/SearchResultExtensions.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/ICertificateRepository.cs
  src/SFA.DAS.AssessorService.Data/CertificateRepository.cs
  src/SFA.DAS.AssessorService.Database/SFA.DAS.AssessorService.Database.refactorlog
  src/SFA.DAS.AssessorService.Database/SFA.DAS.AssessorService.Database.sqlproj
  src/SFA.DAS.AssessorService.Database/Tables/Options.sql
  src/SFA.DAS.AssessorService.Domain/Entities/Option.cs
  src/SFA.DAS.AssessorService.Web/Controllers/CertificateBaseController.cs
  src/SFA.DAS.AssessorService.Web/Controllers/CertificateCheckController.cs
  src/SFA.DAS.AssessorService.Web/Controllers/CertificateController.cs
  src/SFA.DAS.AssessorService.Web/Controllers/CertificateOptionController.cs
  src/SFA.DAS.AssessorService.Web/Controllers/CertificateSession.cs
  src/SFA.DAS.AssessorService.Web/Resources/Validators/CertificateOptionViewModelValidator.en.resx
  src/SFA.DAS.AssessorService.Web/Resources/Views/Certificate/Option.en.resx
  src/SFA.DAS.AssessorService.Web/Validators/CertificateOptionViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web/ViewModels/Certificate/CertificateOptionViewModel.cs
  src/SFA.DAS.AssessorService.Web/Views/Certificate/Check.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Certificate/Date.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Certificate/Grade.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Certificate/Option.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Certificate/_OptionScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Search/ChooseStandard.cshtml
  src/SFA.DAS.AssessorService.Web/wwwroot/js/epao-validation.js
Labels: EPAO App, Requires testing

#390 On 803 api post new epao organisation
  .gitignore
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/EpaOrganisation.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/OrganisationData.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/CreateEpaOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationAlreadyExistsTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationHasInvalidDataTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Services/EpaOrganisationIdGeneratorTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Validators/Register/EpaOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Application.Api/Services/EpaOrganisationIdGenerator.cs
  src/SFA.DAS.AssessorService.Application.Api/StartupConfiguration/MappingStartup.cs
  src/SFA.DAS.AssessorService.Application.Api/Validators/EpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterCreateOrganisationHandlerTests.cs
  src/SFA.DAS.AssessorService.Application/Exceptions/AlreadyExistsException.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationIdGenerator.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterRepository.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationPostTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Handlers/OrganisationHandler.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/SFA.DAS.AssessorService.Data.IntegrationTests.csproj
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Services/DatabaseService.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/connectionStrings.Template.json
  src/SFA.DAS.AssessorService.Data/DapperTypeHandlers/OrganisationDataHandler.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterRepository.cs
  src/SFA.DAS.AssessorService.Data/SFA.DAS.AssessorService.Data.csproj
Labels: Register, Tested

#376 On 785 get standards by organisation
  .gitignore
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/AssessmentOrganisationContact.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/AssessmentOrganisationSummary.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/OrganisationStandardPeriod.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/OrganisationStandardSummary.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/GetAssessmentOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/GetAssessmentOrganisationsbyStandardRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/GetStandardsByOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Query/GetOrganisationTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Query/GetOrganisationsByStandardIdTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Query/GetStandardsByOrganisationIdTest.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Query/HeadOrganisationTest.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterQueryController.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQueryGetOrganisationTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQueryGetOrganisationsByStandardIdTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQueryGetStandardsByOrganisationIdTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/SFA.DAS.AssessorService.Application.UnitTests.csproj
  src/SFA.DAS.AssessorService.Application/Handlers/ao/GetAssessmentOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/ao/GetAssessmentOrganisationsByStandardHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/ao/GetAssessmentOrganisationsHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/ao/GetStandardsByAssessmentOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/GetAssessmentOrganisationsTests.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/SFA.DAS.AssessorService.Data.csproj
Labels: Register, Requires testing

#401 On 811 handle comms problems with external ap is better
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/ApiClientBase.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/CertificateApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/SFA.DAS.AssessorService.Application.Api.Client.csproj
  src/SFA.DAS.AssessorService.Application.Api/Controllers/CertificateQueryController.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/SFA.DAS.AssessorService.Application.UnitTests.csproj
  src/SFA.DAS.AssessorService.Application/SFA.DAS.AssessorService.Application.csproj
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
  src/SFA.DAS.AssessorService.Web/Controllers/CertificateHistoryController.cs
  src/SFA.DAS.AssessorService.Web/Extensions/HttpClientExtenisions.cs
  src/SFA.DAS.AssessorService.Web/SFA.DAS.AssessorService.Web.csproj
  src/SFA.DAS.AssessorService.Web/Startup.cs
Labels: EPAO App, Requires testing, Tested

#399 On 840 staff ui batch certificates
  src/SFA.DAS.AssessorService.Api.Types/Models/Staff/StaffBatchLogRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Staff/StaffBatchLogResult.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Staff/StaffBatchSearchRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Staff/StaffBatchSearchResult.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/Staff/StaffSearchController.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/StaffCertificateBatchLogHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Staff/StaffCertificateBatchSearchHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IStaffCertificateRepository.cs
  src/SFA.DAS.AssessorService.Data/Staff/StaffCertificateRepository.cs
  src/SFA.DAS.AssessorService.Domain/Paging/PaginatedList.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/BatchSearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/SearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/BatchSearchViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/BatchSearch/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/BatchSearch/Results.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Dashboard/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Results.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Select.cshtml
Labels: Staff App, Tested

#417 Updated Ilr Repo Searching by Uln to also group by FamilyName
  src/SFA.DAS.AssessorService.Data/IlrRepository.cs
Labels: EPAO App, Tested

#395 On 828 staff ui schedule config
  src/SFA.DAS.AssessorService.Application.Api/Controllers/ScheduleController.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IScheduleRepository.cs
  src/SFA.DAS.AssessorService.Data/ScheduleRepository.cs
  src/SFA.DAS.AssessorService.EpaoImporter/Data/AssessorServiceApi.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/DuplicateRequestController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/ScheduleConfigController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Domain/ScheduleInterval.cs
  src/SFA.DAS.AssessorService.Web.Staff/Domain/ScheduleJobType.cs
  src/SFA.DAS.AssessorService.Web.Staff/Helpers/DataAnnotations/FutureDateAttribute.cs
  src/SFA.DAS.AssessorService.Web.Staff/Helpers/HumanizerMetadataProvider.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/ScheduleConfigViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
  src/SFA.DAS.AssessorService.Web.Staff/TagHelpers/ValidationClassAnyErrorsTagHelper.cs
  src/SFA.DAS.AssessorService.Web.Staff/TagHelpers/ValidationClassTagHelper.cs
  src/SFA.DAS.AssessorService.Web.Staff/TagHelpers/ValidationLinkTagHelper.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/BatchSearch/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Dashboard/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/ScheduleConfig/Create.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/ScheduleConfig/Delete.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/ScheduleConfig/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/ScheduleConfig/RunNow.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/ScheduleConfig/_DateScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Shared/_ValidationScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/js/epao-validation.js
Labels: Staff App, Tested

#413 On 697 staff ui azure keygen
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/AzureGroup.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/AzureIdentity.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/AzureProduct.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/AzureSubscription.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/AzureUser.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/Requests/CreateAzureUserRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/Requests/CreateAzureUserSubscriptionRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/Requests/EnableDisableAzureUserRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/Responses/AzureGroupResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/Responses/AzureProductResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/Responses/AzureSubscriptionResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Azure/Responses/AzureUserResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/UpdateOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Azure/AzureApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Azure/AzureApiClientBase.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Azure/AzureTokenService.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Azure/IAzureApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Azure/IAzureTokenService.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Exceptions/EntityAlreadyExistsException.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Exceptions/EntityNotFoundException.cs
  src/SFA.DAS.AssessorService.Application.Api.Specflow.Tests/Organisations/Helpers/UpdateOrganisationBuilder.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Login/LoginHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/RegisterUpdate/RegisterUpdateHandler.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Services/TestWebConfiguration.cs
  src/SFA.DAS.AssessorService.Data/OrganisationRepository.cs
  src/SFA.DAS.AssessorService.Database/Tables/Organisations.sql
  src/SFA.DAS.AssessorService.Domain/Entities/Organisation.cs
  src/SFA.DAS.AssessorService.Settings/AzureApiAuthentication.cs
  src/SFA.DAS.AssessorService.Settings/IAzureApiAuthentication.cs
  src/SFA.DAS.AssessorService.Settings/IWebConfiguration.cs
  src/SFA.DAS.AssessorService.Settings/WebConfiguration.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/ExternalApiController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Dashboard/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/ExternalApi/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/ExternalApi/UserDetails.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.css
  src/SFA.DAS.AssessorService.Web/Controllers/ExternalApiController.cs
  src/SFA.DAS.AssessorService.Web/Startup.cs
  src/SFA.DAS.AssessorService.Web/Views/ExternalApi/Index.cshtml
Labels: Staff App, Tested

#414 On 804 api put existing epao organisation
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/UpdateEpaOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/UpdateOrganisationHasInvalidDataTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/UpdateOrganisationNotFoundTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/UpdateOrganisationTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Validators/Register/EpaOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Application.Api/StartupConfiguration/MappingStartup.cs
  src/SFA.DAS.AssessorService.Application.Api/Validators/EpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterUpdateOrganisationHandlerTests.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/UpdateEpaOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterRepository.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationPutTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Handlers/OrganisationHandler.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/SFA.DAS.AssessorService.Data.IntegrationTests.csproj
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Services/DatabaseService.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterRepository.cs
Labels: Register

#361 On 668 migrate assessment organisations data
  src/SFA.DAS.AssessorService.Api.Types/Models/AssessmentOrgsImportRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AssessmentOrgsImportResponse.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/AssessmentOrgsImportController.cs
  src/SFA.DAS.AssessorService.Application/Handlers/AssessmentOrgs/ImportAssessmentOrgsHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IAssessmentOrgsImporter.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IAssessmentOrgsRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IAssessmentOrgsSpreadsheetReader.cs
  src/SFA.DAS.AssessorService.Application/SFA.DAS.AssessorService.Application.csproj
  src/SFA.DAS.AssessorService.Data/AssessmentOrgsImporter.cs
  src/SFA.DAS.AssessorService.Data/AssessmentOrgsRepository.cs
  src/SFA.DAS.AssessorService.Data/AssessmentOrgsSpreadsheetReader.cs
  src/SFA.DAS.AssessorService.Data/Exceptions/MissingMandatoryDataException.cs
  src/SFA.DAS.AssessorService.Data/Exceptions/NoDataPresentException.cs
  src/SFA.DAS.AssessorService.Data/Exceptions/NoMatchingOrganisationTypeException.cs
  src/SFA.DAS.AssessorService.Data/Exceptions/WorksheetNotAvailableException.cs
  src/SFA.DAS.AssessorService.Data/SFA.DAS.AssessorService.Data.csproj
  src/SFA.DAS.AssessorService.Database/Tables/OrganisationStandard.sql
  src/SFA.DAS.AssessorService.Domain/DTOs/AssessmentOrganisationsSpreadsheetDto.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/ApprenticeshipStandard.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/DeliveryArea.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/EpaOrganisation.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/EpaOrganisationStandard.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/EpaOrganisationStandardDeliveryArea.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/OrganisationContact.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/OrganisationData.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/Status.cs
  src/SFA.DAS.AssessorService.Domain/Entities/AssessmentOrganisations/TypeOfOrganisation.cs
  src/SFA.DAS.AssessorService.EpaoImporter/SFA.DAS.AssessorService.EpaoImporter.csproj
  src/SFA.DAS.AssessorService.EpaoImporter/Startup/Bootstrapper.cs
  src/SFA.DAS.AssessorService.NLog.Targets.Redis/SFA.DAS.AssessorService.NLog.Targets.Redis.csproj
  src/SFA.DAS.AssessorService.Web/SFA.DAS.AssessorService.Web.csproj
  src/SFA.DAS.AssessorService.sln
Labels: Register
