Repository SkillsFundingAgency/das-assessor-service, pull requests merged in 2018-10, with the labels that each got.

#433 On 953 configure roles in staff app
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/ContractAmendQueryBase.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/WhenUserLoadsAmendOptionPage.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/WhenUserLoadsAmendsAddressPage.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/WhenUserLoadsAmendsApprenticeDetailsPage.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/WhenUserLoadsAmendsDatePage.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/WhenUserLoadsAmendsGradePage.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/WhenUserLoadsAmendsRecipientPage.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/AccountController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/BatchSearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/CertificateAddressController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/CertificateAmendController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/CertificateApprenticeDetailsController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/CertificateBaseController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/CertificateDateController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/CertificateGradeController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/CertificateOptionController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/CertificateRecipientController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/DuplicateRequestController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/ExternalApiController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/HomeController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/ScheduleConfigController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/SearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
  src/SFA.DAS.AssessorService.Web.Staff/TagHelpers/PolicyTagHelper.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Account/AccessDenied.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/Address.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/ApprenticeDetail.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/Check.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/Date.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/Grade.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/Option.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/Recipient.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/_AddressScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/_ApprenticeDetailScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/_DateScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/_GradeScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/_OptionScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/_RecipientScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/CertificateAmend/_ViewImports.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Dashboard/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/ExternalApi/UserDetails.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Home/InvalidRole.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Select.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Shared/_Layout.cshtml
  src/SFA.DAS.AssessorService.Web/Views/ExternalApi/Index.cshtml
Labels: Staff App

#438 On 891 add new organisation
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/CreateEpaOrganisationValidationRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Validation/ValidationError.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Validation/ValidationResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Validation/ValidationStatusCode.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/OrganisationsApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Validators/Register/EpaOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Consts/EpaOrganisationValidatorMessageName.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Application.Api/Resources/Validators/EpaOrganisationValidator.en.resx
  src/SFA.DAS.AssessorService.Application.Api/Validators/EpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterCreateOrganisationHandlerTests.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationValidationHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/UpdateEpaOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Application/SFA.DAS.AssessorService.Application.csproj
  src/SFA.DAS.AssessorService.Data.UnitTests/SFA.DAS.AssessorService.Data.UnitTests.csproj
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/SFA.DAS.AssessorService.Data.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterAddOrganisationViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterViewOrganisationViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterAddOrganisationViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/AddOrganisation.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/Results.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/ViewOrganisation.cshtml
Labels: Tested

#446 On 959 api post new contact
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/EpaContact.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/CreateEpaOrganisationContactRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/EpaOrganisationContactResponse.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationAlreadyExistsTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationContactInvalidDataTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationContactTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Validators/Register/EpaOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Consts/EpaOrganisationValidatorMessageName.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Application.Api/Resources/Validators/EpaOrganisationValidator.en.resx
  src/SFA.DAS.AssessorService.Application.Api/Services/EpaOrganisationIdGenerator.cs
  src/SFA.DAS.AssessorService.Application.Api/Validators/EmailValidator.cs
  src/SFA.DAS.AssessorService.Application.Api/Validators/EpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterCreateOrganisationContactHandlerTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQueryGetStandardsByOrganisationIdTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQuerySearchAssessmentOrganisationsTests.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationContactHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationIdGenerator.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterValidationRepository.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationContactPostTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationPostTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationStandardPostTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationStandardPutTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Handlers/OrganisationContactHandler.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Models/OrganisationContactModel.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterValidationRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.min.css
Labels: Register, Tested

#444 ON-990 - Staff UI - Replace policies with roles
  src/SFA.DAS.AssessorService.Web.Extensions/TagHelpers/RoleTagHelper.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/AccountController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/BatchSearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/CertificateBaseController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/DuplicateRequestController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/ExternalApiController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/ScheduleConfigController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/SearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Domain/Roles.cs
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Dashboard/Index.cshtml
Labels: Staff App, Tested

#437 ON-353 - Staff UI Reports
  src/SFA.DAS.AssessorService.Application.Api/Controllers/Staff/StaffReportsController.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IStaffReportRepository.cs
  src/SFA.DAS.AssessorService.Data/AssessorDbContext.cs
  src/SFA.DAS.AssessorService.Data/Staff/StaffReportRepository.cs
  src/SFA.DAS.AssessorService.Database/SFA.DAS.AssessorService.Database.sqlproj
  src/SFA.DAS.AssessorService.Database/Script.PostDeployment1.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_ByBatch.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_ByEpao.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_ByEpaoAndStandardAndGrade.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_ByProvider.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_ByProviderAndGrade.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_ByStandard.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_CertificateCount.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_DetailedExtract.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_MonthlySummary.sql
  src/SFA.DAS.AssessorService.Database/StoredProcedures/StaffReports_WeeklySummary.sql
  src/SFA.DAS.AssessorService.Database/Tables/StaffReports.sql
  src/SFA.DAS.AssessorService.Domain/Entities/StaffReport.cs
  src/SFA.DAS.AssessorService.EpaoImporter/SFA.DAS.AssessorService.EpaoImporter.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/ReportsController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/ReportViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Dashboard/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Reports/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Reports/Run.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Reports/_ReportScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/ScheduleConfig/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.css
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.min.css
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/js/epao-validation.js
  src/SFA.DAS.AssessorService.Web/wwwroot/js/epao-validation.js
Labels: Staff App, Tested

#460 On 962 update existing organisation standard endpoints
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/EpaOrganisationStandard.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/OrganisationStandardSummary.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/CreateEpaOrganisationStandardRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/UpdateEpaOrganisationStandardRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Validation/ValidationErrorDetail.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Validators/Register/EpaOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Consts/EpaOrganisationValidatorMessageName.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterQueryController.cs
  src/SFA.DAS.AssessorService.Application.Api/Resources/Validators/EpaOrganisationValidator.en.resx
  src/SFA.DAS.AssessorService.Application.Api/Validators/EpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterCreateOrganisationStandardHandlerTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterUpdateOrganisationStandardHandlerTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQueryGetStandardsByOrganisationIdTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Query/RegisterQuerySearchAssessmentOrganisationsTests.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationStandardHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/UpdateEpaOrganisationStandardHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/ao/GetStandardsByAssessmentOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/ao/SearchAssessmentOrganisationHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterRepository.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationStandardPostTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationStandardPutTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/GetAssessmentOrganisationsByNameTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/GetDeliveryAreasByOrganisationStandardIdTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Handlers/OrganisationStandardDeliveryAreaHandler.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Handlers/OrganisationStandardHandler.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/Models/OrganisationStandardDeliveryAreaModel.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterRepository.cs
  src/SFA.DAS.AssessorService.ExternalApis/SFA.DAS.AssessorService.ExternalApis.csproj
  src/SFA.DAS.AssessorService.ExternalApis/Services/CacheService.cs
  src/SFA.DAS.AssessorService.ExternalApis/Services/StandardService.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/PrivateCertificateTests/Posts/Given_I_post_the_standard_code_page.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/PrivateCertificateTests/Posts/Given_I_post_the_standard_code_page_with_invalid_model.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/PrivateCertificateTests/Queries/Given_I_request_the_standard_code_page.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/SFA.DAS.AssessorService.Web.Staff.Tests.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Private/CertificatePrivateStandardCodeController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
Labels: Register, Tested
