Repository SkillsFundingAgency/das-assessor-service, pull requests merged in 2018-07, with the labels that each got.

#343 On 664 store provider name on certificate data
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Certificates/StartCertificateHandlerTests/When_called_and_no_existing_certificate.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Certificates/StartCertificateHandler.cs
  src/SFA.DAS.AssessorService.Domain/JsonData/CertificateData.cs
  src/SFA.DAS.AssessorService.ExternalApis/AssessmentOrgs/AssessmentOrgsApiClient.cs
  src/SFA.DAS.AssessorService.ExternalApis/AssessmentOrgs/IAssessmentOrgsApiClient.cs
  src/SFA.DAS.AssessorService.ExternalApis/AssessmentOrgs/Types/Provider.cs
Labels: Tested

#338 Multiple of the same standard for a uln are now filtered out / ignored
  src/SFA.DAS.AssessorService.Data/IlrRepository.cs
Labels: Tested

#346 On 655 accessibility
  .gitignore
  src/SFA.DAS.AssessorService.Application.Api/SFA.DAS.AssessorService.Application.Api.csproj
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.UnitTests/TokenServiceTests/JWTTestBase.cs
  src/SFA.DAS.AssessorService.Web.UnitTests/TokenServiceTests/WhenANewTokenIsStoredInTheCacheIfTheCacheIsNull.cs
  src/SFA.DAS.AssessorService.Web.UnitTests/TokenServiceTests/WhenAnExpiredTokenIsRegeneratedWithANewExpiryDate.cs
  src/SFA.DAS.AssessorService.Web.UnitTests/TokenServiceTests/WhenNewTokenIsGeneratedIfTheCacheIsNull.cs
  src/SFA.DAS.AssessorService.Web.UnitTests/TokenServiceTests/WhenTokenIsReturnedAndIsPresentInTheCache.cs
  src/SFA.DAS.AssessorService.Web/Resources/Views/Certificate/Address.en.resx
  src/SFA.DAS.AssessorService.Web/SFA.DAS.AssessorService.Web.csproj
  src/SFA.DAS.AssessorService.Web/Views/Certificate/Address.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Certificate/Date.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Certificate/Grade.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Certificate/Option.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Certificate/_AddressScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Home/Index.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Search/ChooseStandard.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Search/Result.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Search/_SearchForm.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Shared/_Layout.cshtml
  src/SFA.DAS.AssessorService.Web/wwwroot/css/site.css
  src/SFA.DAS.AssessorService.Web/wwwroot/css/site.min.css
  src/SFA.DAS.AssessorService.Web/wwwroot/js/epao-validation.js
  src/SFA.DAS.AssessorService.Web/wwwroot/js/epao-validation.min.js
Labels: EPAO App, Requires testing

#368 On 778 fix paging for search page
  src/SFA.DAS.AssessorService.Application.Api/Controllers/Staff/StaffSearchController.cs
  src/SFA.DAS.AssessorService.Data/Staff/StaffIlrRepository.cs
  src/SFA.DAS.AssessorService.Data/TestData/TestDataService.cs
  src/SFA.DAS.AssessorService.Domain/Paging/PaginatedList.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/SearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Views/Search/Results.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/site.css
  src/SFA.DAS.AssessorService.Web/SFA.DAS.AssessorService.Web.csproj
Labels: Staff App

#345 On 584 history display of certification requests
  src/SFA.DAS.AssessorService.Api.Types/Models/Certificates/CertificateDataResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Certificates/CertificateHistoryResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Certificates/CertificateResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Certificates/GetCertificateHistoryRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/CertificateApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/ICertificateApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Certificates/Query/WhenGetCertificateHistory.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/CertificateQueryController.cs
  src/SFA.DAS.AssessorService.Application.Api/StartupConfiguration/MappingStartup.cs
  src/SFA.DAS.AssessorService.Application.Api/StartupConfiguration/Startup.cs
  src/SFA.DAS.AssessorService.Application.Api/appsettings.Development.json
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Certificates/Query/WhenGetCertificateHistoryHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Certificates/GetCertificatesHistoryHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/ICertificateRepository.cs
  src/SFA.DAS.AssessorService.Application/Mapping/CustomResolvers/JsonMappingConverter.cs
  src/SFA.DAS.AssessorService.Data/CertificateRepository.cs
  src/SFA.DAS.AssessorService.Data/TestData/TestDataService.cs
  src/SFA.DAS.AssessorService.Database/SFA.DAS.AssessorService.Database.sqlproj
  src/SFA.DAS.AssessorService.Database/Script.PostDeployment1.sql
  src/SFA.DAS.AssessorService.Database/Script.PreDeployment1.sql
  src/SFA.DAS.AssessorService.Domain/Consts/UpdatedBy.cs
  src/SFA.DAS.AssessorService.Domain/Entities/Certificate.cs
  src/SFA.DAS.AssessorService.Domain/JsonData/CertificateData.cs
  src/SFA.DAS.AssessorService.Domain/Paging/PaginatedList.cs
  src/SFA.DAS.AssessorService.EpaoImporter/PrintFunctionFlow.cs
  src/SFA.DAS.AssessorService.EpaoImporter/PrintProcessCommand.cs
  src/SFA.DAS.AssessorService.PrintFunctionProcessFlow.UnitTests/WhenPrinterFunctionFlowCommandIsExecutedSuccessfully.cs
  src/SFA.DAS.AssessorService.Web.UnitTests/CertificateHistoryTests/Given_I_request_certificate_history .cs
  src/SFA.DAS.AssessorService.Web/Controllers/CertificateController.cs
  src/SFA.DAS.AssessorService.Web/Controllers/CertificateHistoryController.cs
  src/SFA.DAS.AssessorService.Web/Controllers/SearchController.cs
  src/SFA.DAS.AssessorService.Web/Resources/Views/CertificateHistory/Index.en.resx
  src/SFA.DAS.AssessorService.Web/SFA.DAS.AssessorService.Web.csproj
  src/SFA.DAS.AssessorService.Web/Views/CertificateHistory/Index.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Search/Index.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Shared/_Layout.cshtml
  src/SFA.DAS.AssessorService.Web/bundleconfig.json
  src/SFA.DAS.AssessorService.Web/wwwroot/assets/javascripts/govuk-template.js
  src/SFA.DAS.AssessorService.Web/wwwroot/assets/stylesheets/fonts/fontello-f2a3ad1a/demo.html
  src/SFA.DAS.AssessorService.Web/wwwroot/assets/stylesheets/fonts/fontello.eot
  src/SFA.DAS.AssessorService.Web/wwwroot/assets/stylesheets/fonts/fontello.svg
  src/SFA.DAS.AssessorService.Web/wwwroot/assets/stylesheets/fonts/fontello.ttf
  src/SFA.DAS.AssessorService.Web/wwwroot/assets/stylesheets/fonts/fontello.woff
  src/SFA.DAS.AssessorService.Web/wwwroot/assets/stylesheets/fonts/fontello.woff2
  src/SFA.DAS.AssessorService.Web/wwwroot/css/site.css
  src/SFA.DAS.AssessorService.Web/wwwroot/css/site.min.css
  src/SFA.DAS.AssessorService.Web/wwwroot/js/details.polyfill.js
  src/SFA.DAS.AssessorService.Web/wwwroot/js/expandable-table.js
  src/SFA.DAS.AssessorService.Web/wwwroot/js/show-hide-content.js
  src/SFA.DAS.AssessorService.Web/wwwroot/js/site.js
  src/SFA.DAS.AssessorService.Web/wwwroot/js/site.min.js
  src/SFA.DAS.AssessorService.sln
Labels: EPAO App, Requires testing
