Repository SkillsFundingAgency/das-assessor-service, pull requests merged in 2019-04, with the labels that each got.

#637 ON-1677 - Display financial due date in staff app
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Apply/Applications/ApplicationSequenceViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Apply/Applications/Sequence.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Apply/Applications/Sequence_ReadOnly.cshtml
Labels: Tested

#648 APR-215 replaced private mapping methods with AutoMapper calls
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationFinancialTrackRecordRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationLegalNameRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationParentCompanyGuaranteeRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationProviderTypeRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationStatusRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationTradingNameRequest.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/UpdateRoatpOrganisationController.cs
Labels: RoATP

#646 APR-165 replace private mapping method with AutoMapper call
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationLegalNameRequest.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/UpdateRoatpOrganisationController.cs
Labels: RoATP

#647 ON-1746 - Display Primary Contact Name on Organisation Details Dashboard
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/EpaOrganisation.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationAlreadyExistsTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationHasInvalidDataTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterCreateOrganisationHandlerTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterUpdateOrganisationHandlerTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationPostTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationPutTests.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Web/Controllers/OrganisationController.cs
Labels: Public-Beta

#611 APR-198 display organisation results detail
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Helpers/Roatp/OrganisationHtmlHelper.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/OrganisationSearchResultsViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/SearchResults.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/roatp.css
Labels: RoATP, Tested

#623 Apr 288 update trading name
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationLegalNameRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationTradingNameRequest.cs
  src/SFA.DAS.AssessorService.Database/Script.PostDeployment1.sql
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/PrivateCertificateTests/Posts/Given_I_post_the_standard_code_page.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/PrivateCertificateTests/Posts/Given_I_post_the_standard_code_page_with_invalid_model.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Validators/AddOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Validators/RoatpOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchResultsControllerBase.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/UpdateRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Resources/RoatpOrganisationValidation.Designer.cs
  src/SFA.DAS.AssessorService.Web.Staff/Resources/RoatpOrganisationValidation.resx
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/AddOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/IRoatpOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/RoatpOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/UpdateOrganisationLegalNameViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/UpdateOrganisationTradingNameViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationLegalNameViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationTradingNameViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/SearchResults.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationLegalName.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationTradingName.cshtml
Labels: RoATP, Tested

#625 Apr 289 update parent company guarantee
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationParentCompanyGuaranteeRequest.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/UpdateRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationParentCompanyGuaranteeViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/SearchResults.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationParentCompanyGuarantee.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/roatp.css
Labels: RoATP, Tested

#629 Apr 165 update roatp legal name
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/AddRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchResultsControllerBase.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/UpdateRoatpOrganisationController.cs
Labels: RoATP, Tested

#631 Apr 290 update financial track rec
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/CreateOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationFinancialTrackRecordRequest.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/UpdateRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationFinancialTrackRecordViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/SearchResults.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationFinancialTrackRecord.cshtml
Labels: RoATP, Tested

#635 APR-291 code complete
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/CreateOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationFinancialTrackRecordRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationLegalNameRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationParentCompanyGuaranteeRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationProviderTypeRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationStatusRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationTradingNameRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/UpdateOrganisationUkprnRequest.cs
  src/SFA.DAS.AssessorService.Database/Script.PostDeployment1.sql
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/PrivateCertificateTests/Posts/Given_I_post_the_standard_code_page.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/PrivateCertificateTests/Posts/Given_I_post_the_standard_code_page_with_invalid_model.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Validators/AddOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Validators/RoatpOrganisationValidatorTests.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/AddRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchResultsControllerBase.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/UpdateRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Helpers/Roatp/OrganisationHtmlHelper.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Resources/RoatpOrganisationValidation.Designer.cs
  src/SFA.DAS.AssessorService.Web.Staff/Resources/RoatpOrganisationValidation.resx
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/AddOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/IRoatpOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/IUpdateOrganisationUkprnValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/RoatpOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/UpdateOrganisationLegalNameViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/UpdateOrganisationTradingNameViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/UpdateOrganisationUkprnValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/UpdateOrganisationUkprnViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/OrganisationSearchResultsViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationFinancialTrackRecordViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationLegalNameViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationParentCompanyGuaranteeViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationProviderTypeViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationStatusViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationTradingNameViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationUkprnViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/SearchResults.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationFinancialTrackRecord.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationLegalName.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationParentCompanyGuarantee.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationProviderType.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationStatus.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationTradingName.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationUkprn.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/_ScriptsPartial.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/bundleconfig.json
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/roatp.css
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/js/roatp-ui.js
Labels: RoATP, Tested

#638 Apr 173 staff app content changes
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/Roatp/AddRoatpOrganisationControllerTests.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/AddRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Resources/RoatpConfirmationMessages.Designer.cs
  src/SFA.DAS.AssessorService.Web.Staff/Resources/RoatpConfirmationMessages.resx
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Views/Dashboard/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Home/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Shared/_Layout.cshtml
Labels: RoATP, Tested

#640 APR-388 added code to deal with slightly changed endpoint
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/CreateOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/AddRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Helpers/Roatp/OrganisationHtmlHelper.cs
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/roatp.css
Labels: RoATP, Tested

#662 Apr 390 update provider status
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationContactPostTests.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/OrganisationsTests.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/AddRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchResultsControllerBase.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/UpdateRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Roatp/UpdateOrganisationStatusViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Home/Index.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/UpdateOrganisationStatus.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/roatp.css
Labels: RoATP, Tested

#663 Add missing links to start page and contact us link to footer
  src/SFA.DAS.AssessorService.Web/Views/Home/Index.cshtml
  src/SFA.DAS.AssessorService.Web/Views/Shared/_Layout.cshtml
Labels: Tested

#685 Change UKPRN field in RoATP API requests to string
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/CreateOrganisationRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/DuplicateUKPRNCheckRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Roatp/Organisation.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/AddRoatpOrganisationController.cs
Labels: RoATP

#652 APR-408 allow long names to wrap on add roatp organisation confirmation
  src/SFA.DAS.AssessorService.Web.Staff/Views/Roatp/AddOrganisationPreview.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/wwwroot/css/roatp.css
Labels: RoATP, Tested

#642 APR-409 bug fix for provider type not being persisted during back nav
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Controllers/Roatp/AddRoatpOrganisationControllerTests.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/AddRoatpOrganisationController.cs
Labels: RoATP, Tested

#690 Apr 438 pen test fix html injection
  src/SFA.DAS.AssessorService.Application.Api/Services/HtmlTagRemover.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/AddRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/RoatpOrganisationValidator.cs
Labels: Tested

#689 ON-1798 - Add default privileges on login if existing user but none set
  src/SFA.DAS.AssessorService.Api.Types/Models/ContactResponse.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/ContactsApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/ContactQueryController.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IContactQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/ContactQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/ContactRepository.cs
  src/SFA.DAS.AssessorService.Web/StartupConfiguration/AuthenticationStartup.cs
Labels: Requires testing, TestInProgress

#684 On 1780 edit contact page in staff app
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/AssessmentOrganisationContact.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/AO/EpaContact.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/CreateEpaContactValidationRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/CreateEpaOrganisationContactRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/UpdateEpaOrganisationContactRequest.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/Register/UpdateEpaOrganisationContactValidationRequest.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/OrganisationsApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationContactAlreadyExistsTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationContactInvalidDataTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/CreateNewOrganisationContactTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Controllers/Register/Command/UpdateOrganisationContactTests.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Services/AssessorValidationServiceTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Consts/EpaOrganisationValidatorMessageName.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/RegisterValidationController.cs
  src/SFA.DAS.AssessorService.Application.Api/Services/Validation/AssessorValidationService.cs
  src/SFA.DAS.AssessorService.Application.Api/Validators/EpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterCreateOrganisationContactHandlerTests.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Register/Command/RegisterUpdateOrganisationContactHandlerTests.cs
  src/SFA.DAS.AssessorService.Application/Handlers/ContactHandlers/UpdateSignInId/UpdateSignInRequestHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaContactValidationHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/CreateEpaOrganisationContactHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/UpdateEpaOrganisationContactHandler.cs
  src/SFA.DAS.AssessorService.Application/Handlers/EpaOrganisationHandlers/UpdateEpaOrganisationContactValidationHandler.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IContactRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IEpaOrganisationValidator.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterValidationRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/Validation/IAssessorValidationService.cs
  src/SFA.DAS.AssessorService.Data.IntegrationTests/EpaOrganisationContactPostTests.cs
  src/SFA.DAS.AssessorService.Data/ContactRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterRepository.cs
  src/SFA.DAS.AssessorService.Data/RegisterValidationRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/RegisterController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterAddContactViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Models/RegisterViewAndEditContactViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Services/AnswerInjectionService.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterAddContactViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterAddOrganisationViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterUpdateContactViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/RegisterUpdateOrganisationViewModelValidator.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/AddContact.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/EditContact.cshtml
  src/SFA.DAS.AssessorService.Web.Staff/Views/Register/ViewContact.cshtml
Labels: Tested

#668 On 1771 include org name fha download
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Apply/FinancialController.cs
Labels: Tested

#696 APR-452 add anti forgery token validation
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/RoatpSearchController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
Labels: RoATP, Tested

#695 APR-451 prevent formulae from being injected into downloaded spreadsheet
  src/SFA.DAS.AssessorService.Application.Api/Services/ExcelFormulaRemover.cs
  src/SFA.DAS.AssessorService.Application.Api/Services/TextSanitiser.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Roatp/AddRoatpOrganisationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Validators/Roatp/RoatpOrganisationValidator.cs
Labels: RoATP, Tested

#617 ON-1399 - Handle login of new Org but not yet LIVE on the register
  src/SFA.DAS.AssessorService.Api.Types/Models/LoginRequest.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Login/LoginHandlerTestsBase.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Login/When_Contact_exists_and_username_is_now_known.cs
  src/SFA.DAS.AssessorService.Application.UnitTests/Handlers/Login/When_EPAO_is_NotActivated.cs
  src/SFA.DAS.AssessorService.Application/Handlers/Login/LoginHandler.cs
  src/SFA.DAS.AssessorService.Application/Logging/LoggingConstants.cs
  src/SFA.DAS.AssessorService.Web.UnitTests/AccountControllerTests/Given_I_have_signed_in.cs
  src/SFA.DAS.AssessorService.Web/Controllers/AccountController.cs
  src/SFA.DAS.AssessorService.Web/Controllers/HomeController.cs
  src/SFA.DAS.AssessorService.Web/Views/Home/NotActivated.cshtml
Labels: Tested

#597 ON-1556 & ON-1684 & ON-1719 & ON-1758 : Gather apply information inject into assessor
  src/SFA.DAS.AssessorService.Api.Types/Commands/CreateOrganisationContactCommand.cs
  src/SFA.DAS.AssessorService.Api.Types/Commands/CreateOrganisationStandardCommand.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/CreateOrganisationAndContactFromApplyResponse.cs
  src/SFA.DAS.AssessorService.Api.Types/Models/CreateOrganisationStandardFromApplyResponse.cs
  src/SFA.DAS.AssessorService.Application.Api.UnitTests/Services/AssessorValidationServiceTests.cs
  src/SFA.DAS.AssessorService.Application.Api/Controllers/ContactQueryController.cs
  src/SFA.DAS.AssessorService.Application.Api/Services/Validation/AssessorValidationService.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/IRegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Application/Interfaces/Validation/IAssessorValidationService.cs
  src/SFA.DAS.AssessorService.Application/Resources/OrganisationAndContactMessages.Designer.cs
  src/SFA.DAS.AssessorService.Application/Resources/OrganisationAndContactMessages.resx
  src/SFA.DAS.AssessorService.ApplyTypes/ApplicationSequence.cs
  src/SFA.DAS.AssessorService.Data/RegisterQueryRepository.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Services/AnswerInjectionServiceApplyOrganisationStandardIntoRegisterTests.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Services/AnswerInjectionserviceApplyOrganisationAndContactintoRegisterTests.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Services/AnswerServiceGatherAnswersTests.cs
  src/SFA.DAS.AssessorService.Web.Staff.Tests/Services/AnswerServiceGetAnswersTests.cs
  src/SFA.DAS.AssessorService.Web.Staff/Controllers/Apply/ApplicationController.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/ApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/IApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Infrastructure/IApplyApiClient.cs
  src/SFA.DAS.AssessorService.Web.Staff/Resources/OrganisationAndContactMessages.Designer.cs
  src/SFA.DAS.AssessorService.Web.Staff/Resources/OrganisationAndContactMessages.resx
  src/SFA.DAS.AssessorService.Web.Staff/SFA.DAS.AssessorService.Web.Staff.csproj
  src/SFA.DAS.AssessorService.Web.Staff/Services/AnswerInjectionService.cs
  src/SFA.DAS.AssessorService.Web.Staff/Services/AnswerService.cs
  src/SFA.DAS.AssessorService.Web.Staff/Services/IAnswerInjectionService.cs
  src/SFA.DAS.AssessorService.Web.Staff/Services/IAnswerService.cs
  src/SFA.DAS.AssessorService.Web.Staff/Startup.cs
  src/SFA.DAS.AssessorService.Web/Startup.cs
Labels: Tested

#616 Fix the Learner update EventId high-watermark.
  src/SFA.DAS.AssessorService.EpaoDataSync/Domain/IlrsRefresherService.cs
Labels: Ready for Release

#697 Added a redirect to access denied if contacts.status is Deleted
  src/SFA.DAS.AssessorService.Web/Controllers/HomeController.cs
  src/SFA.DAS.AssessorService.Web/StartupConfiguration/AuthenticationStartup.cs
  src/SFA.DAS.AssessorService.Web/Views/Home/AccessDenied.cshtml
Labels: TestInProgress

#679 ON-1781 - Warn when Inadequate FHA and no feedback
  src/SFA.DAS.AssessorService.Web.Staff/ViewModels/Apply/Applications/ApplicationSequenceAssessmentViewModel.cs
  src/SFA.DAS.AssessorService.Web.Staff/Views/Apply/Applications/Assessment.cshtml
Labels: Tested
